In [3]:
import findspark

In [4]:
findspark.init('/home/devops/spark-3.5.0-bin-hadoop3')

In [5]:
import pyspark

In [19]:
(2+3)*5+5

30

In [11]:
print ('hello')

hello

In [13]:
type(1.0)

float

In [20]:
name_of_var=2

In [21]:
x=1
y=2
x+y

3

In [22]:
"double"

'double'

# Example of using double quote or single quote

In [23]:
"I don't like that"

"I don't like that"

In [24]:
'I do like that'

'I do like that'

In [25]:
print('I do like that')

I do like that

# Example of passing variables

In [26]:
"My name is {}".format('An Binh')

'My name is An Binh'

In [27]:
print ("My name is {}".format('An Binh'))

My name is An Binh

In [30]:
print("My name is {}, my number is {}".format('An Binh','10'))

My name is An Binh, my number is 10

In [33]:
print("My name is {n}, my number is {p}".format(p='100',n='AB'))

My name is AB, my number is 100

# Example of list

In [34]:
[1,2,3]

[1, 2, 3]

In [ ]:
['a','b','c']

In [35]:
[1,'a']

[1, 'a']

In [36]:
mylist=['a','b','3']

In [37]:
mylist[1]

'b'

In [38]:
mylist[2]

'3'

Last item always has index = -1

In [39]:
mylist[-1]

'3'

In [40]:
mylist[0]='New'
mylist

['New', 'b', '3']

In [41]:
mylist.append('d')
mylist

['New', 'b', '3', 'd']

Nested list

In [ ]:
mylist=[1,2,[100,200]]
mylist

In [43]:
mylist[-1]

[100, 200]

In [44]:
mylist[-1][1]

200

Dictionary

In [45]:
d={'key1':'value 1', 'key2':'value 2'}
d

{'key1': 'value 1', 'key2': 'value 2'}

In [46]:
d['key2']

'value 2'

In [47]:
print(d)

{'key1': 'value 1', 'key2': 'value 2'}

In [48]:
True
False

False

Tuple (can't change value)
Ex: t[0]='New' se bao loi does not support item assignment

In [49]:
t=(1,2,3)
t

(1, 2, 3)

Set (unorder unique element)

In [52]:
s={1,2,3,1,1,2,2,3,3,3,3,}
s

{1, 2, 3}

# Example of operator

Check condition

In [1]:
1>=2

False

In [2]:
'a'=='A'

False

In [5]:
('a'=='a') and (1==2) and (3!=3)

False

In [9]:
if 1!=1:
    print('yea!')
elif 3==3:
    print('second cond true!')
else:
        print('nope!')

second cond true!

Loop

In [15]:
seq = [1,2,3,4]
jelly='I love fruit'
for item in seq:
    print(jelly, item)

I love fruit 1
I love fruit 2
I love fruit 3
I love fruit 4

In [16]:
i=1
while i<5:
    print ('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(2,5))

[2, 3, 4]

In [19]:
for x in range(5):
    print ('hi {}'.format(x))

hi 0
hi 1
hi 2
hi 3
hi 4

In [20]:
#defin list x
x=[1,2,3]
out=[]
for num in x:
    out.append(num**2)
print (out)

[1, 4, 9]

In [21]:
#to shorten the code, the below code return the same result
[num**2 for num in x]

[1, 4, 9]

Function

In [22]:
def my_func():
    print('hello')
my_func()

hello

In [23]:
def my_func(name):
    print('hello '+name)

my_func('Happy bees')

hello Happy bees

In [24]:
def square(x):
    return x**2

result=square(3)

In [27]:
print (type(result), result)

<class 'int'> 9

In [28]:
#Rút gọn hàm trên: 
lambda x: x**2

String functions

In [31]:
st='Hello My #NAME is'
st.lower()

'hello my #name is'

In [32]:
#Default split by space
st.split()

['Hello', 'My', '#NAME', 'is']

In [33]:
st.split('#')

['Hello My ', 'NAME is']

In [34]:
st.split('#')[-1]

'NAME is'

In [35]:
st.split('#')[-2]

'Hello My '

DICTIONARY FUNCTION

In [36]:
d={'key 1': 'value 1', 'key 2':'value 2'}

In [37]:
d.keys()

dict_keys(['key 1', 'key 2'])

In [38]:
d.items()

dict_items([('key 1', 'value 1'), ('key 2', 'value 2')])

In [39]:
type(d)

dict

LIST FUNCTION

In [40]:
mylist=[1,2,3]
last = mylist.pop()
mylist

[1, 2]

In [41]:
last

3

In [44]:
mylist=[1,2,3]
first = mylist.pop(0)
mylist

[2, 3]

In [45]:
first

1

In [46]:
1 in mylist

False

In [47]:
2 in mylist

True

# Python Crash Course Exercises

In [48]:
7**4

2401

In [49]:
s= 'Hi there Sam!'
s.split()

['Hi', 'there', 'Sam!']

# Spark DataFrame Basics

In [50]:
from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark'